{% extends "layout.html" %}

<!--  -->
{% block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>
{% endblock %}
<!--  -->
{% block title %} About us {% endblock %}

<!--  -->
{% block body %}

<section style="width: 80%; margin: auto">
  <div class="pill">Team</div>
  <article>
    <img
      src="{{ url_for('static', filename='images/svgs/team.svg') }}"
      alt="illustration of a team"
      width="400"
    />
    <h2>About Us</h2>
    <p>
      At acme.ai, we’re passionate about helping adventurers like you have unforgettable trekking experiences. We know how essential it is to be well-prepared for the journey ahead, especially when it comes to nutrition. Our mission is to provide personalized nutrition insights that cater to your unique trekking needs, ensuring you have the energy and stamina to enjoy every moment on the trail.
    </p>
    <p>
      Our team consists of avid trekkers and nutrition experts who understand the challenges faced on various terrains. Through our own trekking experiences, we learned that the right nutrition can significantly impact your adventure. That’s why we developed our prediction tool, designed to offer tailored recommendations based on your specific trek details, such as duration and altitude. Whether you’re a seasoned hiker or just starting out, we’re here to support you with the knowledge you need to thrive.
    </p>
    <p>
      We also believe in fostering a community of like-minded adventurers. Our platform encourages sharing tips, stories, and support among users, creating a space where everyone can learn and grow together. So, as you gear up for your next trek, know that we’re here to help you prepare with confidence, ensuring you have everything you need for an amazing journey. Your adventure is waiting, and we can’t wait to be a part of it!    </p>
  </article>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 1rem 3rem !important;
    margin: auto 5rem !important;
  }

  p {
    padding: 0.1rem 2rem;
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #333;
    text-align: justify; 
    word-spacing: 1.5px;
  }

</style>

{% endblock %}
