{% extends "layout.html" %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">

{% endblock %}

{% block title %} Nutrition Recommendor {% endblock %}

{% block body %}

<div class="form-container">
    <h1 style="text-align: center; padding: 2rem 0">Enter your trip details</h1>
    <p style="width: 50%; margin: 0 auto; text-align: center; font-size: 0.75rem; color:#998787">
        Please fill all the fields for an accurate estimation.
    </p>
    <form action="/predict" method="post">
        <fieldset>

            <div class="relative">
                <label for="trek">Trek Name</label>
                <div class="input-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                    </svg>
                </div>
                <select id="Encoded_Trek" name="Encoded_Trek" onchange="checktrek()" required>
                    <option value="" selected disabled>Select a Trek Type</option>
                    <option value="0">Annapurna Base Camp Heli Trek</option>
                    <option value="1">Annapurna Base Camp Short Trek</option>
                    <option value="2" data-values="2,3">Annapurna Base Camp Trek</option>
                    <option value="4">Annapurna Circle Trek</option>
                    <option value="5">Annapurna Circuit Short Trek</option>
                    <option value="6" data-values="6,8">Annapurna Circuit Trek</option>
                    <option value="7">Annapurna Circuit Trek with Tilicho Lake and Poon Hill</option>
                    <option value="9">Annapurna Luxury Trek</option>
                    <option value="10">Annapurna Panorama Trek</option>
                    <option value="11">Annapurna Sanctuary Trek</option>
                    <option value="12">Annapurna Sunrise and Everest View Trek</option>
                    <option value="13" data-values="13,14">Annapurna Tilicho Lake Trek</option>
                    <option value="15">Classic Annapurna Circuit Trek</option>
                    <option value="16">Everest Advanced Base Camp Trek from Tibet</option>
                    <option value="17">Everest Base Camp Heli Shuttle Trek</option>
                    <option value="18">Everest Base Camp Heli Trek</option>
                    <option value="19">Everest Base Camp Luxury Lodge Trek</option>
                    <option value="20" data-values="20,21">Everest Base Camp Short Trek</option>
                    <option value="22" data-values="22,28">Everest Base Camp Trek</option>
                    <option value="23">Everest Base Camp Trek for Seniors</option>
                    <option value="24">Everest Base Camp Trek for Youths</option>
                    <option value="25">Everest Base Camp Trek via Gokyo Lake</option>
                    <option value="26">Everest Base Camp Trek via Gokyo Lakes and Cho La Pass</option>
                    <option value="27">Everest Base Camp Trek with Chola and Renjo La Pass</option>
                    <option value="29">Everest Chola Pass Trek</option>
                    <option value="30" data-values="30,31">Everest High Passes Trek</option>
                    <option value="32">Everest Kalapathar Trekking</option>
                    <option value="33">Everest Kangshung Face Trek</option>
                    <option value="34">Everest Panorama Trek</option>
                    <option value="35" data-values="35,36">Everest View Trek</option>
                    <option value="37">Ghorepani Poon Hill Trek</option>
                    <option value="38">Gokyo Lake Renjo La Pass Trek</option>
                    <option value="39">Gokyo Lake Trek</option>
                    <option value="40">Gokyo Lakes and Gokyo Ri Trek</option>
                    <option value="41">Helambu Trek</option>
                    <option value="42">Instant Annapurna Base Camp Trek</option>
                    <option value="43">Kanchenjunga Circuit Trek</option>
                    <option value="44">Khopra Ridge Community Trek</option>
                    <option value="45">Langtang Gosaikunda Trek</option>
                    <option value="46" data-values="46,48,49">Langtang Valley Trek</option>
                    <option value="47">Langtang Valley Trek with Ganja la Pass</option>
                    <option value="50">Langtang, Gosainkunda and Helambu Trek</option>
                    <option value="51">Luxury Everest Base Camp Heli Trek</option>
                    <option value="52">Makalu Base Camp Trek</option>
                    <option value="53" data-values="53,54,55">Manaslu Circuit Trek</option>
                    <option value="56">Manaslu and Annapurna Trek with Tilicho Lake</option>
                    <option value="57" data-values="57,58,59">Mardi Himal Trek</option>
                    <option value="60">Nar Phu Valley Trek</option>
                    <option value="61">Nepal Experience Tour</option>
                    <option value="62">Nepal Hiking and Culture Tour</option>
                    <option value="63">Nepal Trekking and Everest Himalaya Heli Tour</option>
                    <option value="64">Rara Lake Trek</option>
                    <option value="65">Short Annapurna Trek</option>
                    <option value="66">Short Everest Trek</option>
                    <option value="67" data-values="67">Tamang Heritage Trial</option>
                    <option value="67" data-values="68,69">Tamang Heritage Trek</option>
                    <option value="70">Tenzing Hillary Everest Marathon</option>
                    <option value="71">The Royal Trek</option>
                    <option value="72">Tsum Valley Trek</option>
                    <option value="73" data-values="73,74">Tsum Valley and Manaslu Trek</option>
                    <option value="75">Upper Mustang Tiji Festival Trek</option>
                    <option value="76" data-values="76,78">Upper Mustang Trek</option>
                    <option value="77">Upper Mustang Trek with Yara</option>
                </select>
            </div>

            <div class="relative">
                <div class="input-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                    </svg>
                </div>
                <label for="altitude">Max Altitude</label>
                <input type="number" name="altitude" id="altitude" min="1000" max="8848" placeholder="Peak altitude in meters" autocomplete="off" required readonly/>
            </div>

            <div class="relative">
                <label for="tripgrade">Trek Grade</label>
                <div class="input-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                    </svg>
                </div>
                <select name="tripgrade" id="tripgrade" required>
                    <option value="" selected disabled>Select a trek difficulty</option>
                    <option value="1">Easy</option>
                    <option value="2">Moderate</option>
                    <option value="0">Hard</option>
                </select>
            </div>

            <div class="inline">
                <div class="relative">
                    <div class="input-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                        </svg>
                    </div>
                    <label for="start_date">Start Date</label>
                    <input type="date" id="start-date" name="start-date" min="2024-10-16" onchange="shownumberofdays()" required>
                </div>
                <div class="relative">
                    <div class="input-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z" />
                        </svg>
                    </div>
                    <label for="end_date">End Date</label>
                    <input type="date" id="end-date" name="end-date" min="2024-10-11" onchange="shownumberofdays()" required>
                </div>
            </div>

            <div class="relative">
                <div class="input-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </div>
                <label for="time">Trek Duration</label>
                <input type="number" name="days" id="days" step="1" placeholder="Trek duration in days" required />
            </div>

            <div class="relative">
                <label for="sex">Gender</label>
                <div class="input-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                    />
                  </svg>
                </div>
                <select name="sex" id="sex" required>
                  <option value="" selected disabled>Select Sex</option>
                  <option value="1">Male</option> 
                  <option value="0">Female</option> 
                  <option value="2">Others</option>
              </select>
              </div>


            <div class="relative">
                <label for="age">Age</label>
                <div class="input-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                </div>
                <input
                  type="number"
                  name="age"
                  id="age"
                  min="18"
                  max="90"
                  step="1"
                  placeholder="Enter your age"
                  required
                />
              </div>

        </fieldset>

         <button type="submit">Estimate</button>

    </form>

{% if nutrient_data %}
    <div class="output-message">
        <h2>"Here’s the essential nutrition required for your journey!"</h2>
    
        <div class="nutrient-box">
            {% for nutrient in nutrient_data %}
                <div class="nutrient-row">
                    <h3>{{ nutrient.label }}</h3>
                    <p><strong>Description:</strong> {{ nutrient.description }}</p>
                    <p><strong>Food Sources:</strong> {{ nutrient.food_source }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}




</div>

<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}
