{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>
{% endblock %} {% block body %}

<section
  class="landing"
  aria-label="Hero section"
>
  <div class="container">
    <h1>Plan Your Next Trek!</h1>
    <p>
      "Begin your journey with confidence! Follow the right nutrition advice and tips to make your trek truly unforgettable."
    </p>
    <img
      src="{{ url_for('static', filename='images/svgs/adventure_map.svg')}}"
      alt="Illustration of an adventure map"
      draggable="false"
    />
  </div>
  <div class="cta inline">
    <a href="https://youtu.be/j61j9X4xCnA?si=pwbTGqap5g8IXCIV" target="_blank">
      <button class="outline">Watch a demo</button>
    </a>
    <a href="/model">
      <button>Get Started</button>
    </a>
  </div>
</section>

<section class="features" aria-label="Features">
  <div class="pill">Features</div>
  <div>
    <h2>Why Use Our Prediction Tool?</h2>
    <div class="feature-list">
      {% for _ in range(1) %}
      <article>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
          />
        </svg>

        <h3>Personalized Advice</h3>
        <p>
          Our tool delivers tailored nutrition advice specifically based on your unique dietary preferences and health goals.        </p>
        
      </article>
      <article>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
          />
        </svg>

        <h3>Data-Driven Insights</h3>
        <p>Get precise nutritional recommendations based on the latest research to support your well-being.</p>
        
        </article>
      <article>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
          />
        </svg>

        <h3>User-Friendly Interface</h3>
        <p>
          
          Enjoy an intuitive experience that simplifies nutrition tracking and empowers informed choices effortlessly.        </p>
        
      </article>
      {% endfor %}
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="pill">Testimonials</div>
  <div class="testimonial-wrapper">
    <h2>Hear What Our Customers Say</h2>
    <div class="testimonial-list">
      <article>
        <div class="avatar">
          <img
            src="{{ url_for('static', filename='/images/svgs/avatar.svg') }}"
            alt="An illustration for a user's avatar"
            draggable="false"
          />
        </div>
        <div class="testimonial">
          <div class="customer">
            <h4>Sushant Shrestha</h4>
          </div>
          <div class="">
            <p>
              The prediction tool was a game-changer for my trek! The personalized nutrition advice kept my energy levels high. Amazing!
            </p>
          </div>
        </div>
      </article>
      <article>
        <div class="avatar">
          <img
            src="{{ url_for('static', filename='/images/svgs/avatar.svg') }}"
            alt="An illustration for a user's avatar"
            draggable="false"
          />
        </div>
        <div class="testimonial">
          <div class="customer">
            <h4>Sujal Ratna Tulardar</h4>
          </div>
          <div class="">
            <p>
              Very satisfied with the service! The recommendations made a real difference on my hike. I recommend them to everyone!
            </p>
          </div>
        </div>
      </article>
    </div>
    <img
      class="illu"
      src="{{ url_for('static', filename='images/svgs/reviews.svg') }}"
      alt="An illustration for reviews"
      draggable="false"
    />
  </div>
</section>

<section class="how-work" id="how-work">
  <div class="pill">Service</div>
  <div>
    <h2>How It Works?</h2>
    <div class="steps">
      <article>
        <div class="marker">1</div>
        <div class="step">
          <div>
            <h4>Get Trek Details</h4>
            <p>
              Start by providing your basic trek preferences. Select your trek
              duration, difficulty level, and also provide additional
              requirements for the trek.
            </p>
          </div>
        </div>
      </article>
      <article>
        <div class="marker">2</div>
        <div class="step">
          <div>
            <h4>Get Recommendations</h4>
            <p>
              Based on your inputs, our trained model analyzes various trek
              options and provides recommendations on ways to improve your
              trekking experience.
            </p>
          </div>
        </div>
      </article>
      <article>
        <div class="marker">3</div>
        <div class="step">
          <div>
            <h4>That's it</h4>
            <p>
              Just like that, you are ready to plan your next adventure. Happy
              trails!
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

  <a href="/model">
    <button>Get Started</button>
  </a>
</section>

{% endblock %}
