{% extends "layout.html" %}

{% block stylesheets %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}
<!--  -->
{% block title %} Map {% endblock %}

<!--  -->
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Map 1: Solukhumbu</h4>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=117U4P9MxCcRAfUv-qlHdiFxszq9uwn4&ehbc=2E312F" style="width: 100%; height: 300px; border: none;"></iframe>
        </div>
        <div class="col-md-6">
            <h4>Map 2: Kaski</h4>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1GjPeOR9o72JbAFdiC2vBqjJPDiXoBfo&ehbc=2E312F" style="width: 100%; height: 300px; border: none;"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Map 3: Manang</h4>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bwBuEs90oAy-DrY3ynO1c7-ERR3BGYA&ehbc=2E312F" style="width: 100%; height: 300px; border: none;"></iframe>
        </div>
        <div class="col-md-6">
            <h4>Map 4: Taplejung</h4>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Ddz97gjpyqfUNPGMz3GIpqinrBdCAPU&ehbc=2E312F" style="width: 100%; height: 300px; border: none;"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Map 5: Rasuwa</h4>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1NDM9xjRaSpUz3CDXdaklGZH8kzi5vts&ehbc=2E312F" style="width: 100%; height: 300px; border: none;"></iframe>
        </div>
        <div class="col-md-6">
            <h4>Map 6: Sankhuwasabha</h4>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1iSMi511NY8RbW48N7MvpcCIp9W3DFHE&ehbc=2E312F" style="width: 100%; height: 300px; border: none;"></iframe>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>







{% endblock %}

